@model BeautyHome.Models.AdminProductView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-product-categories" style="float:left; margin-top:48px;">
        <h2 class="tm-block-title">Danh Mục Sản Phẩm</h2>
        <div class="tm-product-table-container">
            <table class="table tm-table-small tm-product-table">
                <tbody>
                    @foreach (var item in Model.listfur)
                    {
                        <tr>
                            <td class="tm-product-name">@item.name</td>
                            <td class="text-center">
                                <a href="#" class="tm-product-delete-link">
                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
        <!-- table container -->
        <button class="btn btn-primary btn-block text-uppercase mb-3">
            Thêm Danh Mục
        </button>
    </div>
</div>
<div class="container mt-5">
    
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                <h2 class="tm-block-title">Loại Sản Phẩm</h2>
                <div class="tm-product-table-container">
                    <table class="table tm-table-small tm-product-table">
                        <tbody>
                            @foreach (var item in Model.listtype)
                            {
                                <tr>
                                    <td class="tm-product-name">@item.name</td>
                                    <td class="text-center">
                                        <a href="/Admin_Product/DeleteType?typeId=@item.type_product_id" class="tm-product-delete-link">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <button class="btn btn-primary btn-block text-uppercase mb-3">
                    Thêm Danh Mục
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products" style="width:830px;">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">MÃ SẢN PHẨM</th>
                                <th scope="col">TÊN SẢN PHẨM</th>
                                <th scope="col">SỐ LƯỢNG</th>
                                <th scope="col">GIÁ BÁN</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listProduct)
                            {
                                <tr>
                                    <th scope="row"><input type="checkbox" /></th>
                                    <td>@item.product_id</td>
                                    <td class="tm-product-name">
                                        <a href="/Admin_Editproduct/Index?prId=@item.product_id" style="color:white">@item.name</a>
                                    </td>
                                    <td>@item.amount</td>
                                    <td>@item.price VND</td>
                                    <td>
                                        <a href="/Admin_Product/Delete?productId=@item.product_id" class="tm-product-delete-link">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a href="/Admin_Addproduct/Index"
                   class="btn btn-primary btn-block text-uppercase mb-3">Thêm Mới Sản Phẩm</a>
                <button class="btn btn-primary btn-block text-uppercase">
                    Xóa các sản phẩm đã chọn
                </button>
            </div>
        </div>
    </div>
</div>im

