@model BeautyHome.Models.TypeProductView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Chi Tiết Sản Phẩm</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="index.html">Trang Chủ</a></li>
                                <li><a href="shop-grid-sidebar-left.html">Sản Phẩm</a></li>
                                <li class="active" aria-current="page">Chi Tiết Sản Phẩm</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->
<!-- Start Product Details Section -->
@foreach (var item in Model.listProductViews)
{
    <div class="product-details-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="product-details-gallery-area" data-aos="fade-up" data-aos-delay="0">
                        <!-- Start Large Image -->
                        <div class="product-large-image product-large-image-horaizontal swiper-container">
                            <div class="swiper-wrapper">
                                <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                    <img src="~/assets/images/product/default/home-1/default-1.jpg" alt="">
                                </div>
                                <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                    <img src="~/assets/images/product/default/home-1/default-2.jpg" alt="">
                                </div>
                                <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                    <img src="~/assets/images/product/default/home-1/default-3.jpg" alt="">
                                </div>
                                <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                    <img src="~/assets/images/product/default/home-1/default-4.jpg" alt="">
                                </div>
                                <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                    <img src="~/assets/images/product/default/home-1/default-5.jpg" alt="">
                                </div>
                                <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                    <img src="~/assets/images/product/default/home-1/default-6.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- End Large Image -->
                        <!-- Start Thumbnail Image -->
                        <div class="product-image-thumb product-image-thumb-horizontal swiper-container pos-relative mt-5">
                            <div class="swiper-wrapper">
                                <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="~/assets/images/product/default/home-1/default-1.jpg"
                                         alt="">
                                </div>
                                <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="~/assets/images/product/default/home-1/default-2.jpg"
                                         alt="">
                                </div>
                                <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="~/assets/images/product/default/home-1/default-2.jpg"
                                         alt="">
                                </div>
                                <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="~/assets/images/product/default/home-1/default-2.jpg"
                                         alt="">
                                </div>
                                <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="~/assets/images/product/default/home-1/default-2.jpg"
                                         alt="">
                                </div>
                                <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="~/assets/images/product/default/home-1/default-2.jpg"
                                         alt="">
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="gallery-thumb-arrow swiper-button-next"></div>
                            <div class="gallery-thumb-arrow swiper-button-prev"></div>
                        </div>
                        <!-- End Thumbnail Image -->
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="product-details-content-area product-details--golden" data-aos="fade-up"
                         data-aos-delay="200">
                        <!-- Start  Product Details Text Area-->
                        <div class="product-details-text">
                            <h4 class="title">@item.name</h4>
                            <div class="d-flex align-items-center">
                                <ul class="review-star">
                                    @item.evaluate
                                    <li class="fill"><i class="ion-android-star"></i></li>
                                </ul>
                                <a href="#" class="customer-review ml-2">(Khách hàng đánh giá )</a>
                            </div>
                            <div class="price">@item.price VND</div>
                            <p>
                             @item.description
                            </p>
                        </div> <!-- End  Product Details Text Area-->
                        <!-- Start Product Variable Area -->
                        <div class="product-details-variable">
                            <h4 class="title">Tùy chọn có sẵn</h4>
                            <!-- Product Variable Single Item -->
                            <div class="variable-single-item">
                                <div class="product-stock">
                                    <span class="product-stock-in">
                                        <i class="ion-checkmark-circled"></i>
                                    </span> 200 IN STOCK
                                </div>
                            </div>
                            <!-- Product Variable Single Item -->
                            <div class="d-flex align-items-center ">
                                <div class="variable-single-item ">
                                    <span>Số Lượng hiện có</span>
                                    <div class="product-variable-quantity">
                                        <input value="@item.amount" readonly />
                                    </div>
                                </div>

                                <div class="product-add-to-cart-btn">
                                    <a href="#" class="btn btn-block btn-lg btn-black-default-hover"
                                       data-bs-toggle="modal" data-bs-target="#modalAddcart">+ Cho Vào Giỏ Hàng</a>
                                </div>
                            </div>
                            <!-- Start  Product Details Meta Area-->
                            <div class="product-details-meta mb-20">
                                <a href="wishlist.html" class="icon-space-right"><i class="icon-heart"></i>Thêm vào yêu thích</a>
                                <a href="compare.html" class="icon-space-right"><i class="icon-refresh"></i>Đối chiếu giỏ hàng</a>
                            </div> <!-- End  Product Details Meta Area-->
                        </div> <!-- End Product Variable Area -->
                        <!-- Start  Product Details Catagories Area-->
                        <div class="product-details-catagory mb-2">
                            <span class="title">Danh Mục:</span>
                            <ul>
                                <li><a href="#">GHẾ</a></li>
                            </ul>
                        </div> <!-- End  Product Details Catagories Area-->
                        <!-- Start  Product Details Social Area-->
                        <div class="product-details-social">
                            <span class="title">SHARE THIS PRODUCT:</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div> <!-- End  Product Details Social Area-->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Product Details Section -->

<!-- Start Product Content Tab Section -->
<div class="product-details-content-tab-section section-top-gap-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-details-content-tab-wrapper" data-aos="fade-up" data-aos-delay="0">

                    <!-- Start Product Details Tab Button -->
                    <ul class="nav tablist product-details-content-tab-btn d-flex justify-content-center">
                        <li>
                            <a class="nav-link active" data-bs-toggle="tab" href="#description">
                                Thông Tin
                            </a>
                        </li>

                        <li>
                            <a class="nav-link" data-bs-toggle="tab" href="#review">
                                Đánh Giá Của Khách
                            </a>
                        </li>
                    </ul> <!-- End Product Details Tab Button -->
                    <!-- Start Product Details Tab Content -->
                    <div class="product-details-content-tab">
                        <div class="tab-content">
                            <!-- Start Product Details Tab Content Singel -->
                            <div class="tab-pane active show" id="description">
                                <div class="single-tab-content-item">
                                    <p>
                                    @item.descriptionDetails
                                    </p>
                                </div>
                            </div> <!-- End Product Details Tab Content Singel -->

                            <div class="tab-pane" id="review">
                                <div class="single-tab-content-item">
                                    <!-- Start - Review Comment -->
                                    <ul class="comment">
                                        <!-- Start - Review Comment list-->
                                        <li class="comment-list">
                                            <div class="comment-wrapper">
                                                <div class="comment-img">
                                                    <img src="~/assets/images/user/image-1.png" alt="">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="comment-content-top">
                                                        <div class="comment-content-left">
                                                            <h6 class="comment-name">Kaedyn Fraser</h6>
                                                            <ul class="review-star">
                                                                <li class="fill">
                                                                    <i class="ion-android-star"></i>
                                                                </li>
                                                                <li class="fill">
                                                                    <i class="ion-android-star"></i>
                                                                </li>
                                                                <li class="fill">
                                                                    <i class="ion-android-star"></i>
                                                                </li>
                                                                <li class="fill">
                                                                    <i class="ion-android-star"></i>
                                                                </li>
                                                                <li class="empty">
                                                                    <i class="ion-android-star"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="comment-content-right">
                                                            <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                        </div>
                                                    </div>

                                                    <div class="para-content">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Tempora inventore dolorem a unde modi iste odio amet,
                                                            fugit fuga aliquam, voluptatem maiores animi dolor nulla
                                                            magnam ea! Dignissimos aspernatur cumque nam quod sint
                                                            provident modi alias culpa, inventore deserunt
                                                            accusantium amet earum soluta consequatur quasi eum eius
                                                            laboriosam, maiores praesentium explicabo enim dolores
                                                            quaerat! Voluptas ad ullam quia odio sint sunt. Ipsam
                                                            officia, saepe repellat.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Start - Review Comment Reply-->
                                            <ul class="comment-reply">
                                                <li class="comment-reply-list">
                                                    <div class="comment-wrapper">
                                                        <div class="comment-img">
                                                            <img src="~/assets/images/user/image-2.png" alt="">
                                                        </div>
                                                        <div class="comment-content">
                                                            <div class="comment-content-top">
                                                                <div class="comment-content-left">
                                                                    <h6 class="comment-name">Oaklee Odom</h6>
                                                                </div>
                                                                <div class="comment-content-right">
                                                                    <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                                </div>
                                                            </div>

                                                            <div class="para-content">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur
                                                                    adipisicing elit. Tempora inventore dolorem a
                                                                    unde modi iste odio amet, fugit fuga aliquam,
                                                                    voluptatem maiores animi dolor nulla magnam ea!
                                                                    Dignissimos aspernatur cumque nam quod sint
                                                                    provident modi alias culpa, inventore deserunt
                                                                    accusantium amet earum soluta consequatur quasi
                                                                    eum eius laboriosam, maiores praesentium
                                                                    explicabo enim dolores quaerat! Voluptas ad
                                                                    ullam quia odio sint sunt. Ipsam officia, saepe
                                                                    repellat.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul> <!-- End - Review Comment Reply-->
                                        </li> <!-- End - Review Comment list-->
                                        <!-- Start - Review Comment list-->
                                        <li class="comment-list">
                                            <div class="comment-wrapper">
                                                <div class="comment-img">
                                                    <img src="~/assets/images/user/image-3.png" alt="">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="comment-content-top">
                                                        <div class="comment-content-left">
                                                            <h6 class="comment-name">Jaydin Jones</h6>
                                                            <ul class="review-star">
                                                                <li class="fill">
                                                                    <i class="ion-android-star"></i>
                                                                </li>
                                                                <li class="fill">
                                                                    <i class="ion-android-star"></i>
                                                                </li>
                                                                <li class="fill">
                                                                    <i class="ion-android-star"></i>
                                                                </li>
                                                                <li class="fill">
                                                                    <i class="ion-android-star"></i>
                                                                </li>
                                                                <li class="empty">
                                                                    <i class="ion-android-star"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="comment-content-right">
                                                            <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                        </div>
                                                    </div>

                                                    <div class="para-content">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Tempora inventore dolorem a unde modi iste odio amet,
                                                            fugit fuga aliquam, voluptatem maiores animi dolor nulla
                                                            magnam ea! Dignissimos aspernatur cumque nam quod sint
                                                            provident modi alias culpa, inventore deserunt
                                                            accusantium amet earum soluta consequatur quasi eum eius
                                                            laboriosam, maiores praesentium explicabo enim dolores
                                                            quaerat! Voluptas ad ullam quia odio sint sunt. Ipsam
                                                            officia, saepe repellat.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li> <!-- End - Review Comment list-->
                                    </ul> <!-- End - Review Comment -->
                                    <div class="review-form">
                                        <div class="review-form-text-top">
                                            <h5>THÊM ĐÁNH GIÁ</h5>
                                            <p>Địa chỉ email của bạn sẽ không được công bố. Các trường bắt buộc được đánh dấu *</p>
                                        </div>

                                        <form action="#" method="post">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="default-form-box">
                                                        <label for="comment-name">Tên của bạn <span>*</span></label>
                                                        <input id="comment-name" type="text"
                                                               placeholder="Enter your name" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="default-form-box">
                                                        <label for="comment-email">Email của bạn <span>*</span></label>
                                                        <input id="comment-email" type="email"
                                                               placeholder="Enter your email" required>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="default-form-box">
                                                        <label for="comment-review-text">
                                                            Đánh giá của bạn
                                                            <span>*</span>
                                                        </label>
                                                        <textarea id="comment-review-text"
                                                                  placeholder="Write a review" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-md btn-black-default-hover"
                                                            type="submit">
                                                        Gửi đi
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div> <!-- End Product Details Tab Content Singel -->
                        </div>
                    </div> <!-- End Product Details Tab Content -->

                </div>
            </div>
        </div>
    </div>
</div> <!-- End Product Content Tab Section -->
<!-- Start Modal Add cart -->
<div class="modal fade" id="modalAddcart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close modal-close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true"> <i class="fa fa-times"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="modal-add-cart-product-img">
                                        <img class="img-fluid"
                                             src="~/assets/images/product/default/home-1/default-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="modal-add-cart-info"><i class="fa fa-check-square"></i>Đã Thêm Vào Giỏ Hàng Thành Công !</div>
                                    <div class="modal-add-cart-product-cart-buttons">
                                        <a href="cart.html">Xem Giỏ Hàng</a>
                                        <a href="" data-target="#exampleModal" data-toggle="modal">Dặt hàng</a>
                                        <!-- Button trigger modal -->
                                        <!-- Modal -->
                                        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">ĐẶT HÀNG</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="col-lg-6 col-md-6">
                                                            <form action="#">
                                                                <h3>Chi tiết đặt hàng</h3>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="default-form-box">
                                                                            <label>Tên đầy đủ <span>*</span></label>
                                                                            <input type="text" value="" placeholder="Tên đầy đủ" name="fullname">
                                                                            <input type="hidden" value="idproduct" name="fullname">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="default-form-box">
                                                                            <label>Số lượng <span>*</span></label>
                                                                            <input type="number" value="1" name="count">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-12">
                                                                        <div class="default-form-box">
                                                                            <label>Địa chỉ nhận hàng <span>*</span></label>
                                                                            <input value="" placeholder="Địa chỉ nhận hàng" type="text" name="address">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-12">
                                                                        <div class="default-form-box">
                                                                            <label>SĐT<span>*</span></label>
                                                                            <input value="" type="text" placeholder="Số điện thoại" name="phone">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="default-form-box">
                                                                            <label> Địa chỉ Email <span>*</span></label>
                                                                            <input value="" type="text" placeholder="Địa chỉ nhận hàng" name="email">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label class="checkbox-default" for="newAccount" data-bs-toggle="collapse" data-bs-target="#newAccountPassword">
                                                                            <input type="checkbox" id="newAccount">
                                                                            <span>Tạo một tài khoản?</span>
                                                                        </label>
                                                                        <div id="newAccountPassword" class="collapse mt-3" data-parent="#newAccountPassword">
                                                                            <div class="card-body1 default-form-box">
                                                                                <label> Mật khẩu tài khoản <span>*</span></label>
                                                                                <input placeholder="password" type="password">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label class="checkbox-default" for="newShipping" data-bs-toggle="collapse" data-bs-target="#anotherShipping">
                                                                            <input type="checkbox" id="newShipping">
                                                                            <span>Gửi đến một địa chỉ khác?</span>
                                                                        </label>

                                                                        <div id="anotherShipping" class="collapse mt-3" data-parent="#anotherShipping">
                                                                            <div class="row">
                                                                                <div class="col-lg-6">
                                                                                    <div class="default-form-box">
                                                                                        <label>Họ <span>*</span></label>
                                                                                        <input type="text">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-6">
                                                                                    <div class="default-form-box">
                                                                                        <label>Tên <span>*</span></label>
                                                                                        <input type="text">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <div class="default-form-box">
                                                                                        <label>Tên Cty</label>
                                                                                        <input type="text">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <div class="select_form_select default-form-box">
                                                                                        <label for="countru_name">Quê Quán <span>*</span></label>
                                                                                        <select class="niceselect_option wide" name="cuntry" id="countru_name" style="display: none;">
                                                                                            <option value="2">Tây Ninh</option>
                                                                                            <option value="3">Thành Phó HCM</option>
                                                                                            <option value="4">Hà Nội</option>
                                                                                            <option value="5">Đà Nẵng</option>
                                                                                            <option value="6">Hải Phòng</option>
                                                                                            <option value="7">Long An</option>
                                                                                            <option value="8">Cần Thơ</option>
                                                                                            <option value="9">Nha Trang</option>
                                                                                        </select><div class="nice-select niceselect_option wide" tabindex="0"><span class="current">Tây Ninh</span><ul class="list"><li data-value="2" class="option selected">Tây Ninh</li><li data-value="3" class="option">Thành Phó HCM</li><li data-value="4" class="option">Hà Nội</li><li data-value="5" class="option">Đà Nẵng</li><li data-value="6" class="option">Hải Phòng</li><li data-value="7" class="option">Long An</li><li data-value="8" class="option">Cần Thơ</li><li data-value="9" class="option">Nha Trang</li></ul></div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-12">
                                                                                    <div class="default-form-box">
                                                                                        <label>Địa chỉ <span>*</span></label>
                                                                                        <input placeholder="House number and street name" type="text">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <div class="default-form-box">
                                                                                        <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <div class="default-form-box">
                                                                                        <label>Tỉnh/ Thành Phố <span>*</span></label>
                                                                                        <input type="text">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <div class="default-form-box">
                                                                                        <label>Quân/ Huyện <span>*</span></label>
                                                                                        <input type="text">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-6">
                                                                                    <div class="default-form-box">
                                                                                        <label>SĐT<span>*</span></label>
                                                                                        <input type="text">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-6">
                                                                                    <div class="default-form-box">
                                                                                        <label> Địa Chỉ Email <span>*</span></label>
                                                                                        <input type="text">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 mt-3">
                                                                        <div class="order-notes">
                                                                            <label for="order_note">Ghi chú đơn hàng</label>
                                                                            <textarea id="order_note" placeholder="Ghi chú về đơn đặt hàng của bạn, ví dụ: những lưu ý đặc biệt khi giao hàng."></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                                        <button type="button" class="btn btn-primary">Đặt ngay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 modal-border">
                            <ul class="modal-add-cart-product-shipping-info">
                                <li>
                                    <strong>
                                        <i class="icon-shopping-cart"></i> There Are 5 Items In Your
                                        Cart.
                                    </strong>
                                </li>
                                <li> <strong>Tổng Giá: </strong> <span>$187.00</span></li>
                                <li class="modal-continue-button">
                                    <a href="#" data-bs-dismiss="modal">
                                        Tiếp Tục Mua Sắm
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Modal Add cart -->
}