
@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
   
    <div class="breadcrumb-wrapper">
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 282px; position: absolute; right: 0;">
            <strong>@ViewBag.alert</strong> Bản có thể kiểm tra đơn hàng.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Tài Khoản</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="index.html">Trang Chủ</a></li>
                                <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                <li class="active" aria-current="page">Tài Khoản</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...:::: Start Account Dashboard Section:::... -->
<div class="account-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <!-- Nav tabs -->
                <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li>
                            <a href="#dashboard" data-bs-toggle="tab"
                               class="nav-link btn btn-block btn-md btn-black-default-hover active">Bản Điều Khiển</a>
                        </li>
                        <li>
                            <a href="#orders" data-bs-toggle="tab"
                               class="nav-link btn btn-block btn-md btn-black-default-hover">Đơn Hàng</a>
                        </li>
                        <li>
                            <a href="#address" data-bs-toggle="tab"
                               class="nav-link btn btn-block btn-md btn-black-default-hover">Địa Chỉ</a>
                        </li>
                        <li>
                            <a href="#account-details" data-bs-toggle="tab"
                               class="nav-link btn btn-block btn-md btn-black-default-hover">Chi Tiết Tài Khoản</a>
                        </li>
                        <li>
                            <a href="Account/Logout"
                               class="nav-link btn btn-block btn-md btn-black-default-hover">Đăng Xuất</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <!-- Tab panes -->
                <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                    <div class="tab-pane fade show active" id="dashboard">
                        <h4>Bản Điều khiển </h4>
                        <p>Từ trang tổng quan tài khoản của bạn. bạn có thể dễ dàng kiểm tra &amp; xem <a href="#">đơn đặt hàng</a>, của bản <a href="#">địa chỉ giao hàng và thanh toán</a> và <a href="#"> Chỉnh sửa mật khẩu và chi tiết tài khoản của bạn</a></p>
                    </div>
                    <div class="tab-pane fade" id="orders">
                        <h4>Orders</h4>
                        <div class="table_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Đơn Hàng</th>
                                        <th>Ngày</th>
                                        <th>Trang Thái</th>
                                        <th>Tổng Tiền</th>
                                        <th>Đang Tiến Hành</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>May 10, 2018</td>
                                        <td><span class="success">Completed</span></td>
                                        <td>$25.00 for 1 item </td>
                                        <td><a href="cart.html" class="view">view</a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>May 10, 2018</td>
                                        <td>Processing</td>
                                        <td>$17.00 for 1 item </td>
                                        <td><a href="cart.html" class="view">view</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="address">
                        <p>Các địa chỉ sau sẽ được sử dụng trên trang thanh toán theo mặc định.</p>
                        <h5 class="billing-address">Địa chỉ thanh toán</h5>
                        
                        <address>
                            @Session["address"].ToString()
                        </address>
                    </div>
                    <div class="tab-pane fade" id="account-details">
                        <h3>Chi Tiết Tài Khoản </h3>
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_login_form">
                                    <form action="Account/UpdateAccount" method="post">
                                        <p>Bạn có sẵn sàng tạo một tài khoản? <a href="Login/Index">Đăng nhập thay thế!</a></p>
                                        <input type="hidden" name="userid" value="@Session["userid"].ToString()">
                                        <div class="default-form-box mb-20">
                                            <label>Tên tài khoản</label>
                                            <input type="text" name="username" value="@Session["username"].ToString()" readonly>
                                        </div>

                                        <div class="default-form-box mb-20">
                                            <label>Mật khẩu</label>
                                            <input type="password" name="password" value="@Session["password"].ToString()">
                                        </div>

                                        <div class="default-form-box mb-20">
                                            <label>Tên đầy đủ</label>
                                            <input type="text" name="fullname" value="@Session["fullname"].ToString()">
                                        </div>

                                        <div class="default-form-box mb-20">
                                            <label>Email</label>
                                            <input type="text" name="email" value="@Session["email"].ToString()">
                                        </div>

                                        <div class="default-form-box mb-20">
                                            <label>Địa chỉ</label>
                                            <input type="text" name="address" value="@Session["address"].ToString()">
                                        </div>

                                        <div class="default-form-box mb-20">
                                            <label>Số điện thoại</label>
                                            <input type="text" name="phone" value="@Session["phone"].ToString()">
                                        </div>

                                        <br>
                                        <label class="checkbox-default" for="offer">
                                            <input type="checkbox" id="offer">
                                            <span>Nhận ưu đãi từ các đối tác của chúng tôi</span>
                                        </label>
                                        <br>
                                        <label class="checkbox-default checkbox-default-more-text" for="newsletter">
                                            <input type="checkbox" id="newsletter">
                                            <span>
                                                Đăng ký nhận bản tin của chúng tôi<br><em>
                                                    Bạn có thể hủy đăng ký bất kỳ lúc nào
                                                    dễ dàng. Vì mục đích đó, vui lòng tìm thông tin liên hệ của chúng tôi trong thông báo pháp lý.
                                                </em>
                                            </span>
                                        </label>
                                        <div class="save_button mt-3">
                                            <button class="btn btn-md btn-black-default-hover"
                                                    type="submit">
                                                Lưu
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Account Dashboard Section:::... -->
